@font-face {
    font-family: "Hind";
    src: url("../../fonts/hind/Hind-SemiBold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "NunitoSans";
    src: url("../../fonts/nunito/NunitoSans-SemiBold.ttf") format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: "NunitoSans";
    src: url("../../fonts/nunito/NunitoSans-Bold.ttf") format("truetype");
    font-weight: 800;
}
