*,
*:focus,
*:hover {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.text-center {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.stick-to-bottom {
  position: absolute;
  bottom: 0;
  z-index: 9;
  width: 100%;
  left: 0;
  padding: 0 $space-size-2;
}

$marginCounter: 10;
@for $i from 0 through $marginCounter {
  .mb-#{$i} {
    margin-bottom: #{$space-size * $i} !important;
  }
  .p-#{$i}{
    padding: #{$space-size * $i} !important;
  }
  .m-#{$i}{
    margin: #{$space-size * $i} !important;
  }
  .px-#{$i} {
    padding-left: #{$space-size * $i} !important;
    padding-right: #{$space-size * $i} !important;
  }
  .pb-#{$i} {
    padding-bottom: #{$space-size * $i} !important;
  }
  .pt-#{$i} {
    padding-top: #{$space-size * $i} !important;
  }
  .pl-#{$i} {
    padding-left: #{$space-size * $i} !important;
  }
  .pr-#{$i} {
    padding-right: #{$space-size * $i} !important;
  }
  .mt-#{$i} {
    margin-top: #{$space-size * $i} !important;
  }
  .ml-#{$i} {
    margin-left: #{$space-size * $i} !important;
  }
  .mr-#{$i} {
    margin-right: #{$space-size * $i} !important;
  }
}

.mt-0-5 {
  margin-top: $space-size / 2;
}
.ml-05 {
  margin-left: $space-size/2;
}
.ml-1-5 {
  margin-left: $space-size + $space-size / 2;
}

.mr-05 {
  margin-right: $space-size/2;
}

.mr-1-5 {
  margin-right: $space-size + $space-size / 2;
}
.mx-0-5 {
  margin-top: $space-size / 2;
  margin-bottom: $space-size / 2;
}


