.text-center{
    text-align: center;
}
.mt-1{
    margin-top: $space-size;
}
.mt-2{
    margin-top: $space-size-2;
}
.mt-3{
    margin-top: $space-size-3;
}
.mt-4{
    margin-top: $space-size-4;
}
.mt-5{
    margin-top: $space-size-5;
}
.mt-6{
    margin-top: $space-size-6;
}
.mt-7{
    margin-top: $space-size-7;
}
.mt-8{
    margin-top: $space-size-8;
}


.mb-1{
    margin-bottom: $space-size;
}
.mb-2{
    margin-bottom: $space-size-2;
}
.mb-3{
    margin-bottom: $space-size-3;
}
.mb-4{
    margin-bottom: $space-size-4;
}
.mb-5{
    margin-bottom: $space-size-5;
}
.mb-6{
    margin-bottom: $space-size-6;
}
.mb-7{
    margin-bottom: $space-size-7;
}
.mb-8{
    margin-bottom: $space-size-8;
}


.ml-1{
    margin-left: $space-size;
}
.ml-2{
    margin-left: $space-size-2;
}
.ml-1-5{
    margin-left: $space-size + $space-size / 2;
}
.ml-3{
    margin-left: $space-size-3;
}

.mr-1{
    margin-right: $space-size;
}
.mr-2{
    margin-right: $space-size-2;
}
.mr-1-5{
    margin-right: $space-size + $space-size / 2;
}
.mr-3{
    margin-right: $space-size-3;
}

.pb-0{
    padding-bottom: 0 !important;
}
.pt-0{
    padding-top: 0 !important;
}