$gray100: #F2F5FF;
$gray200: #7486B8;
$gray300: #344375;

$background-color: $gray100;

$black: $gray300;

$main-text-color: $black;

$secondary-text-color: $gray200;

$border-radius: 10px;

//white
$white: #FFF;

$blue: #476FF3;
$green: #5DCFA4;
$red: #EC376F;


//sizing
$space-size: 8px;
$space-size-2: $space-size * 2;
$space-size-3: $space-size * 3;
$space-size-4: $space-size * 4;
$space-size-5: $space-size * 5;
$space-size-6: $space-size * 6;
$space-size-7: $space-size * 7;
$space-size-8: $space-size * 8;