body{
    font-family: 'NunitoSans';
    font-weight: 700;
    background: $background-color;
    color: $secondary-text-color;
}
a{
    text-decoration: none;
    color: $blue;
}
*{
    font-family: 'NunitoSans';
    box-sizing: border-box;
}
html, body, #app{
    height: 100%;
    font-size: 16px;
}
#app{
    overflow-x: hidden;
}