.header{
    font-weight: 600;
    color: $black;
    padding: $space-size 0;
    &--medium{
      font-size: 20px;
    }
    &--large{
      font-size: 24px;
    }
  }
  
  .header-sub{
    padding: $space-size $space-size-2;
    line-height: $space-size-3;
  }