.section-title{
    font-size: 24px;
    font-weight: 600;
    color: $black;
    padding: $space-size $space-size-2;
  }
  .section-subtitle{
    padding: $space-size $space-size-2;
    line-height: $space-size-3;
  }
  