.btn{
    height: $space-size-6;
    padding: 0 $space-size-5;
    border-radius: $border-radius;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    &--primary{
        background: $blue;
        color: $white;
    }
    &--outlined{
        background: none;
        border: 2px solid $blue;
        color: $blue;
    }
    &--full-width{
        width: 100%;
    }
}
.actions{
    display: flex;
    justify-content: center;
    &-vertical{
        flex-direction: column;
    }
}