.carousel {
  display: flex;
  position: relative;
  justify-content: center;
  &__img {
    height: 52vh;
    position: relative;

   // @media (max-width: 375px) {
      height: 250px;
      text-align: center;
      margin-bottom: 32px + $space-size-3 / 2;
      svg {
        width: 100%;
        height: 100%;
      }
  //  }

    * {
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
    }
    img {
      z-index: 1;
     // margin-top: 80px;
      left: 20px;
      margin-top: -$space-size-3 / 2; 
      height: calc(100% + 24px);
      @media (max-width: 370px) {
        height: 100%;
        margin: auto;
        left: 0;
        right: 0;
      }
    }
  }
  &-nav {
    display: flex;
    justify-content: center;
    margin: $space-size-3 0 0 0;
    padding: $space-size-2;
    &__el {
      margin: 0 $space-size + 4;
      &.is-active {
        .carousel-nav__ball {
          background-color: $black;
          border: none;
        }
      }
    }
    &__ball {
      display: block;
      width: $space-size + 2;
      height: $space-size + 2;
      border: 2px solid $gray200;
      border-radius: 100%;
    }
  }
}
