
.avatar{
  height: $space-size-3;
  width: $space-size-3;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid $white;
  box-sizing: content-box;
  img{
    width: 100%;
  }
}
.avatar-list{
  display: flex;
  &__el{
    margin-right: -$space-size;
  }
  &__counter{
    border: 2px solid $gray150;
    color: $blue;
    width: $space-size-3;
    height: $space-size-3;
    border-radius: 100%;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $white;
    box-sizing: content-box;
  }
}