.textbox {
  position: relative;
  margin-bottom: $space-size;
  display: flex;
  align-items: center;
  i {
    position: absolute;
    left: $space-size-2;
    font-size: $space-size-2 + 4;
  }
  .textbox__input {
    &--medium{
      height: $space-size-5;
    }
    height: $space-size-6;
    border-radius: $border-radius;
    background: $white;
    box-shadow: $box-shadow;
    border: none;
    width: 100%;
    font-size: 1rem;
    padding: 13px $space-size-2;
    color: $black;
    &::-webkit-input-placeholder {
      /* Edge */
      color: #A5B0D4;
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #A5B0D4;
    }

    &::placeholder {
      color: #A5B0D4;
    }

    &--icon {
      padding-left: $space-size-6;
    }
  }
}
