.texteditor {
  &--medium {
    height: $space-size-5;
  }
  &--shadow-disabled {
    box-shadow: none;
  }
  &--textarea {
    resize: none;
  }
  height: $space-size-6;
  border-radius: $border-radius;
  background: $white;
  box-shadow: $box-shadow;
  border: none;
  width: 100%;
  font-size: 1rem;
  padding: 13px $space-size-2 13px $space-size-6;
  color: $black;
  &::-webkit-input-placeholder,
  &:-ms-input-placeholder,
  &::placeholder {
    /* Edge */
    color: $gray175;
  }
  &:focus {
    box-shadow: $box-shadow-large;
  }
}
