.l-container{
    &--vertical-center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
        margin-bottom: 0;
    }
    &--auth{
        padding: 0 $space-size-4;
    }
    &--standard{
        padding: 0 $space-size-3 $space-size-10 $space-size-3;
    }
}