.top-bar {
  padding: $space-size-3 0;
  &__user {
    display: flex;
    align-items: center;
    display: flex;
  }
  &__burger {
    margin-left: $space-size;
    width: $space-size-3;
    span {
      font-size: $space-size-3;
    }
  }
  &__data {
    display: flex;
    flex-direction: column;
  }
  &__alerts {
    padding: $space-size-2;
    margin-right: $space-size / 2;
    position: relative;
    &--is-new {
      &:before {
        content: "";
        display: block;
        width: $space-size;
        height: $space-size;
        background: $red;
        border-radius: 100%;
        position: absolute;
        top: $space-size + 2;
      }
    }
    > i {
      font-size: 22px;
      color: $black;
    }
  }
  &__avatar {
    overflow: hidden;
    position: relative;
    z-index: 1;
    flex-grow: 0;
    flex-shrink: 0;
    width: $space-size-6;
    height: $space-size-6;
  }
  &__avatar,
  &__thumbnail {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 100%;
    }
  }
}
